<style>
#RightContainer, #BreadcrumbContainer, #SoNeContainer {
  display: none !important
}

/* Expands left content to entire container */
#container #ContentContainer #LeftContent {
  width: 100%;
}

/* Eliminating ContentBreak */
.ContentBreak {
  height: 0px;
}

/* Changing height of line break */
br {
  line-height: 2.4em;
}

/* Headline text styling */
span[id*=section_2]+.einspaltig div h2 {
  font-size: 58px !important;
  padding-bottom: 1%;
}

/* Subheadding text styling */
span[id*=section_2]+.einspaltig div b {
  font-style: italic;
}

span[id*=section_2]+.einspaltig div .text_ohne_bild p{
  font-size: 15px;
  font-weight: 100;
  line-height: 20px;
  max-width: 60%;
}

/* Changing the font styling for the text beneath the headline, and the text beneath "Join the team!" */
span[id*=section_2]+.einspaltig + .ContentBreak +  .zweispaltig {
  width: 650px !important;
  margin-top: 10px;
}

span[id*=section_2]+.einspaltig + .ContentBreak + .zweispaltig + .zweispaltigG {
  margin-top: -115px;
  position: absolute;
  margin-left: 678px;
}

span[id*=section_3]+.einspaltig{
  margin-top:-50px
}

span[id*=section_4]+.einspaltig div .text_ohne_bild a{
  background-color: #f58220;
  color: white !important;
  padding: 10px 30px 10px 20px;
  text-align: center;
  margin-left: 40%;
  font-size: 20px;
}

</style>
