<style>
#RightContainer, #BreadcrumbContainer, #SoNeContainer {
  display: none !important
}

/* Expands left content to entire container */
#container #ContentContainer #LeftContent {
  width: 100%;
}

/* Eliminating ContentBreak */
.ContentBreak {
  height: 0px;
}

/* Changing height of line break */
br {
  line-height: 2.4em;
}

/* Padding of banner image */
a[name*=Section_2]+.einspaltig +.NonSpaceingBreak td{
  padding: 0px;
}

/* Headline text styling */
a[name*=Section_4]+.einspaltig div h1 {
  padding-bottom: 25px;
}

/* Padding the the headline. text beneath the headline, and the text beneath "Join the team!" to be skinny and in the center */
a[name*=Section_4]+.einspaltig div h1,
a[name*=Section_5]+.einspaltig div .text_ohne_bild p,
a[name*=Section_19]+.einspaltig div .text_ohne_bild p {
  padding-left: 200px;
  padding-right: 200px;
}

/* Changing top margin of the text under the headline*/
a[name*=Section_5]+.einspaltig div .text_ohne_bild p {
  margin-top: -20px !important;
}

/* Changing the font styling for the text beneath the headline, and the text beneath "Join the team!" */
a[name*=Section_5]+.einspaltig div .text_ohne_bild p,
a[name*=Section_19]+.einspaltig div .text_ohne_bild p {
  font-size: 15px;
  font-weight: 100;
  line-height: 20px;
}

/* Changing left positioning of "See open positions" button and making button color orange */
a[name*=Section_5]+.einspaltig div .link a {
  left: 500px;
  background-color: #F07D00;
}

/* Changing the hover color of the "See open positions" button */
a[name*=Section_5]+.einspaltig div .link a:hover {
  background-color: #d26e00;
}

/* CTA Button Text Styling for "See Open Positions", "Learn about ECS", and "Learn about dry-tech" */
a[name*=Section_5]+.einspaltig div .link a,
a[name*="Section_18"]+.einspaltig+.zweispaltigG div .text_ohne_bild .link a,
a[name*="Section_18"]+.einspaltig+.zweispaltigG+.zweispaltigG div .text_ohne_bild .link a{
  height: 40px;
  font-size: 15px;
  font-weight: 500;
  padding: 10px 15px;
  background-position: 10px;
  background-size: 30px;
  color: #fff;
  text-decoration: none;
  position: relative;
  top: 30px;
}

/* Main Video Styling */
a[name*="Section_6"]+.einspaltig div .text_ohne_bild p {
  width: 750px;
  position: relative;
  left: 200px;
  z-index: 99;
}

/* Adding margin beneath video for proper spacing of thumbnails */
a[name*=Section_6]+.einspaltig div .text_ohne_bild {
  margin-bottom: -1200px;
}

/* Placement of first video thumbnail */
a[name*=Section_7]+.einspaltig+.dreispaltig div .text_ohne_bild p{
    margin-left: 260px !important;
}

/* Placement of second video thumbnail */
a[name*=Section_7]+.einspaltig+.dreispaltig+.dreispaltig div .text_ohne_bild p{
  margin-left:100px !important
}

/* Placement of third video thumbnail */
a[name*=Section_7]+.einspaltig+.dreispaltig+.dreispaltig+.dreispaltig div .text_ohne_bild p{
  margin-left: -60px !important;
}

/* Horizontal placement of Nicole's quote */
a[name*=Section_9]+.einspaltig+.zweispaltigG+.zweispaltigG div .text_ohne_bild p {
  right: 250px;
}

/* Spacing Nicole's quote lower from the timeline */
a[name*=Section_9]+.einspaltig+.zweispaltigG,
a[name*=Section_9]+.einspaltig+.zweispaltigG+.zweispaltigG{
  margin-top:100px;
}

/* Circle Headshot Styling for Nicole and Steve */
a[name*=Section_9]+.einspaltig+.zweispaltigG div img,
a[name*=Section_10]+.einspaltig+.zweispaltigG+.zweispaltigG div img {
  max-width: 55%;
  position: relative;
}

/* Quote text box styling for Nicole and Steve */
a[name*=Section_9]+.einspaltig+.zweispaltigG+.zweispaltigG div .text_ohne_bild p,
a[name*=Section_10]+.einspaltig+.zweispaltigG div .text_ohne_bild p {
  font-size: 20px;
  min-width: 800px;
  position: relative;
  top: 100px;
  background: #f1f1f1;
  border-left: 10px solid #f58220;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  content: open-quote;
}

/* Horizontal spacing for Steve's quote */
a[name*=Section_10]+.einspaltig+.zweispaltigG+.zweispaltigG div img {
  right: -260px;
}

/* Company Culture, Trainings, and Company History Labels Styling */
a[name*=Section_11]+.einspaltig+.dreispaltigG,
a[name*=Section_11]+.einspaltig+.dreispaltigG+.dreispaltigG,
a[name*=Section_11]+.einspaltig+.dreispaltigG+.dreispaltigG+.dreispaltigG {
  padding-top: 20px;
  font-size: 20px;
  background-color: #f58220;
}

/* TCompany Culture, Trainings, and Company History Text Styling */
a[name*=Section_11]+.einspaltig+.dreispaltigG a,
a[name*=Section_11]+.einspaltig+.dreispaltigG+.dreispaltigG a,
a[name*=Section_11]+.einspaltig+.dreispaltigG+.dreispaltigG+.dreispaltigG a{
  color: white;
  font-size: 20px
}

/* Sizing and text placement of Company Culture, Trainings, and Company History labels, along with the e-chain and dry-tech labels */
a[name*=Section_11]+.einspaltig+.dreispaltigG,
a[name*=Section_11]+.einspaltig+.dreispaltigG+.dreispaltigG,
a[name*=Section_11]+.einspaltig+.dreispaltigG+.dreispaltigG+.dreispaltigG,
a[name*=Section_17]+.einspaltig+.zweispaltigG div div,
a[name*=Section_17]+.einspaltig+.zweispaltigG+.zweispaltigG div div {
  height: 65px;
  text-align: center;
  vertical-align: center;
}

/* Spacing below the Company Culture, Trainings, and Company History labels */
a[name*=Section_11]+.einspaltig+.dreispaltigG+.dreispaltigG+.dreispaltigG+.ContentBreak+.NonSpaceingBreak td {
  padding: 5px !important;
}

/* Padding under the Company Culture, Trainings, and Company History divs */
a[name*=Section_13]+.einspaltig+.zweispaltigG+.zweispaltig+.NonSpaceingBreak td,
a[name*=Section_14]+.einspaltig+.zweispaltigG+.zweispaltig+.NonSpaceingBreak td {
  padding: 0px !important;
}

/* Styling of Company Culture, Trainings, and Company History image divs */
a[name*=Section_13]+.einspaltig +.zweispaltigG,
a[name*=Section_14]+.einspaltig +.zweispaltigG,
a[name*=Section_15]+.einspaltig +.zweispaltigG {
  background-color: #f1f1f1;
  margin-right: 0px;
  margin-left: 15px;
  height: 350px;
  margin-top: -35px;
}

/* Styling of Company Culture, Trainings, and Company History text divs */
a[name*=Section_13]+.einspaltig +.zweispaltigG +.zweispaltig,
a[name*=Section_14]+.einspaltig +.zweispaltigG +.zweispaltig,
a[name*=Section_15]+.einspaltig +.zweispaltigG +.zweispaltig{
  background-color: #f1f1f1;
  margin-left: 0px;
  height: 350px;
  margin-top: -35px;
}

/* Sizing of the Company Culture, Trainings, and Company History images */
a[name*=Section_13]+.einspaltig+.zweispaltigG div img,
a[name*=Section_14]+.einspaltig+.zweispaltigG div img,
a[name*=Section_15]+.einspaltig+.zweispaltigG div img{
  height: 350px;
}

/* Text styling and margins of the Company Culture, Trainings, and Company History headers */
a[name*=Section_13]+.einspaltig +.zweispaltigG +.zweispaltig div .text_ohne_bild h2,
a[name*=Section_14]+.einspaltig +.zweispaltigG +.zweispaltig div .text_ohne_bild h2,
a[name*=Section_15]+.einspaltig +.zweispaltigG +.zweispaltig div .text_ohne_bild h2{
  font-weight: bold;
  font-size: 50px;
  color: #f58220;
  margin-top: 40px !important;
}

/* Positioning of the Company Culture, Trainings, and Company History text */
a[name*=Section_13]+.einspaltig +.zweispaltigG +.zweispaltig div .text_ohne_bild,
a[name*=Section_14]+.einspaltig +.zweispaltigG +.zweispaltig div .text_ohne_bild,
a[name*=Section_15]+.einspaltig +.zweispaltigG +.zweispaltig div .text_ohne_bild{
  left: -55px !important;
  top: 25px;
  width: 700px !important;
}

/* Text styling and top margin of the Company Culture, Trainings, and Company History main text */
a[name*=Section_13]+.einspaltig +.zweispaltigG +.zweispaltig div .text_ohne_bild p,
a[name*=Section_14]+.einspaltig +.zweispaltigG +.zweispaltig div .text_ohne_bild p,
a[name*=Section_15]+.einspaltig +.zweispaltigG +.zweispaltig div .text_ohne_bild p{
  color: #343434;
  margin-top: 30px !important;
  max-width: 700px;
}

/* Hides Trainings and Company History to start */
a[name*=Section_14]+.einspaltig+.zweispaltigG,
a[name*=Section_14]+.einspaltig +.zweispaltigG +.zweispaltig,
a[name*=Section_15]+.einspaltig+.zweispaltigG,
a[name*=Section_15]+.einspaltig +.zweispaltigG +.zweispaltig{
  display: none !important;
}

/* Padding above the e-chain and dry-tech labels */
a[name*=Section_17]+.einspaltig+.zweispaltigG div div h2,
a[name*=Section_17]+.einspaltig+.zweispaltigG+.zweispaltigG div div h2 {
  padding-top: 10px;
}

/* Background color for e-chain and dry-tech tabels */
a[name*=Section_17]+.einspaltig+.zweispaltigG div div,
a[name*=Section_17]+.einspaltig+.zweispaltigG+.zweispaltigG div div {
  background-color: #5e5e5e;
}

/* Text styling for e-chain and dry-tech labels */
a[name*=Section_17]+.einspaltig+.zweispaltigG div div h2,
a[name*=Section_17]+.einspaltig+.zweispaltigG+.zweispaltigG div div h2 {
  color: white;
  font-size: 20px !important;
  font-weight: 100;
}

/* Spacing in between e-chain and dry-tech labels and the divs below */
a[name*=Section_17]+.einspaltig+.zweispaltigG+.zweispaltigG+.ContentBreak+.NonSpaceingBreak td {
  padding: 10px !important;
}

/* Styling, padding, and positioning for e-chain and dry-tech divs */
a[name*=Section_18]+.einspaltig+.zweispaltigG,
a[name*=Section_18]+.einspaltig+.zweispaltigG+.zweispaltigG {
  background-color: #f1f1f1;
  padding-top: 20px;
  padding-bottom: 90px;
  height: 330px;
}

/* Horizontal positioning and color for e-chain and dry-tech CTA buttons */
a[name*="Section_18"]+.einspaltig+.zweispaltigG div .text_ohne_bild .link a,
a[name*="Section_18"]+.einspaltig+.zweispaltigG+.zweispaltigG div .text_ohne_bild .link a {
  left: 200px;
  background-color: #f18f3b;
}

/* Styling for e-chain and dry-tech CTA buttons on hover */
a[name*="Section_18"]+.einspaltig+.zweispaltigG div .text_ohne_bild .link a:hover,
a[name*="Section_18"]+.einspaltig+.zweispaltigG+.zweispaltigG div .text_ohne_bild .link a:hover {
  background-color: #f58220
}

/* Padding and styling for "Join the team!" headline */
a[name*=Section_19]+.einspaltig div .text_ohne_bild h2{
  padding-left: 200px;
  padding-right: 200px;
  font-size: 30px;
  font-weight: bold;
  line-height: 35px;
  text-align: center;
}

/* Styling for circles in the background*/
.orangecircle, .greycircle {
  min-height: 600px;
  max-width: 600px;
  min-height: 600px;
  max-width: 600px;
  border-radius: 50%;
}

.orangecircle {
  background-color: #f58220;
  margin-left: 900px;
  top: -730px;
  opacity: .3;
}

.greycircle {
  background-color: #e3e3e3;
  margin-left: -300px;
  top: -830px;
}

/* Video thumbnail styling */
#video1,
#video2,
#video3{
  height: 111px;
  width: 200px !important;
  position: absolute;
  top: 0px;
  cursor: pointer;
  z-index: 1;
}

#video1:hover,
#video2:hover,
#video3:hover{
  border: 2px solid #f58220 !important;
}

#video1{
  margin-left: 260px;
  border: 3px solid #f58220;
}

#video2{
  margin-left: 100px;
}


#video3{
  margin-left: -60px;
}

/* Styling for Timeline */
.box {
  max-width: 1000px;
  max-height: 300px;
  margin-left: 50px;
}

.timeline {
  background-color: #f58220;
  width: 1000px;
  height: 5px;
  margin-left: 30px;
  top: 147.5px;
}

.project {
  text-align: center;
  opacity: 0;
  transform: translateX(10px);
  transition: all 3s ease-out;
}

.project.fade-in {
  opacity: 1;
  transform: translateX(915px);
}

.timeline {
  text-align: center;
  opacity: 0;
  transform: translateX(-920px);
  transition: all 1s ease-out;
}

.timeline.fade-in {
  opacity: 1;
  transform: translateX(0px);
}

.number1 {
  background-color: #e3e3e3;
  max-width: 5px;
  min-width: 5px;
  max-height: 40px;
  min-height: 40px;
  top: 125px;
  margin-left: 25px;
  opacity: 0;
  transition: all 1s ease-out;
  transform: translateX(-50px);
}

.number1.fade-in {
  opacity: 1;
  transform: translateX(0px);
}

.number2, .number3, .number4, .number5, .number6, .number7 {
  background-color: #f58220;
  max-width: 5px;
  min-width: 5px;
  max-height: 40px;
  min-height: 40px;
  opacity: 0;
}

.number2.fade-in, .number3.fade-in, .number4.fade-in, .number5.fade-in, .number6.fade-in, .number7.fade-in {
  opacity: 1;
  transform: translateX(0px);
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg) translateY(0px);
}

.number2, .number5 {
  -ms-transform: rotate(-40deg);
  /* IE 9 */
  -webkit-transform: rotate(-40deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-40deg) translateY(-50px);
}

.number4, .number6 {
  -ms-transform: rotate(40deg);
  /* IE 9 */
  -webkit-transform: rotate(40deg);
  /* Chrome, Safari, Opera */
  transform: rotate(40deg) translateY(-50px);
}

.number2 {
  margin-top: 65px;
  margin-left: 30px;
  transition: all 1s ease-out;
}

.number3 {
  margin-top: 0px;
  margin-left: 300px;
  transition: all 1s ease-out;
  -ms-transform: rotate(40deg);
  /* IE 9 */
  -webkit-transform: rotate(40deg);
  /* Chrome, Safari, Opera */
  transform: rotate(40deg) translateY(50px);
}

.number4 {
  background-color: #f58220;
  margin-top: -80px;
  margin-left: 360px;
  transition: all 1.5s ease-out;
}

.number5 {
  margin-top: 0px;
  margin-left: 620px;
  transition: all 1.5s ease-out;
  ;
}

.number6 {
  margin-top: -80px;
  margin-left: 660px;
  transition: all 2s ease-out;
  ;
}

.number7 {
  margin-top: -20px;
  margin-left: 1030px;
  transition: all 2s ease-out;
  transform: translateX(50px);
}

.car {
  position: absolute;
  max-width: 125px;
  top: 80px;
  z-index: 1;
}

.timelineSheild {
  margin-left: -75px;
  background-color: #e3e3e3;
  min-width: 100px;
  max-width: 100px;
  height: 5px;
  top: 152px;
  z-index: 1;
}

.TLText {
  font-size: 15px;
  min-width: 300px;
  line-height: 1.3em;
}

#n2, #n4 {
  top: -25px;
  margin-left: 12px;
  min-width: 280px;
}

#n3, #n5 {
  top: 5px;
  margin-left: 12px;
}

#n6 {
  top: -25px;
  margin-left: 12px;
  min-width: 240px;
}

/* Bolding text on timeline */
.boldDate {
  margin: 0px;
  padding-top: -20px !important
}

/* Styling for triangles that show which label is selected */
.triangle1, .triangle2, .triangle3 {
  background-color: #f58220;
  min-width: 100px;
  max-width: 100px;
  min-height: 100px;
  max-height: 100px;
  position: relative;
  float: left;
  top: -60px;
  margin-bottom: -90px;
  -webkit-clip-path: polygon(48% 86%, 0 0, 100% 0);
  clip-path: polygon(48% 86%, 0 0, 100% 0);
  z-index: 1;
}

.triangle1 {
  margin-left: 255px;
  display: block;
}

.triangle2 {
  margin-left: 635px;
  display: none;
}

.triangle3 {
  margin-left: 1015px;
  display: none;
}

/* Padding Top of Form */
.hbspt-form form {
  padding-top: 15px !important;
}

/* Form Button Styling */
.hs-button.primary.large {
  position: relative;
  left: 890px;
  top: 15px;
  width: 200px;
  height: 40px;
  background: #f07d00;
  border: 0px transparent;
  color: #fff;
}

.hs-button.primary.large:hover {
  background-color: #d26e00;
}

/* Moves error message on form to be within div */
.hs-error-msgs{
  margin-left: 20px;
}

/* Sizing of Form Fields */
.form-columns-2 .hs-input {
  height: 30px;
  line-height: 50px;
  width: 540px;
  padding-left: 15px;
  border: 1px solid #ABABAB;
}

/* Spacing of Form Fields (Height) */
.form-columns-2, .form-intro {
  margin-bottom: 30px !important;
}

/* Spacing of Form Fields (Width) */
.form-columns-2 {
  max-width: 100% !important;
}

.form-columns-2 div {
  width: 50% !important;
}

/* Form Subheading Styling */
.form-columns-2 .hs-richtext {
  width: 100% !important;
  margin-bottom: 30px;
}

/* Large Textarea Styling */
.form-columns-1 {
  max-width: 100% !important;
}

.form-columns-1 .hs-input {
  max-width: 1090px;
  min-width: 1090px;
  min-height: 120px;
}

/* Centers message after form is submitted */
.submitted-message{
  text-align: center;
}
</style>
