<style>
#RightContainer, #BreadcrumbContainer, #SoNeContainer {
  display: none !important
}

/* Expands left content to entire container */
#container #ContentContainer #LeftContent {
  width: 100%;
}

/* Eliminating ContentBreak */
.ContentBreak {
  height: 0px;
}

/* Changing height of line break */
br {
  line-height: 2.4em;
}

/* Padding of banner image */
span[id*=section_2]+.einspaltig +.NonSpaceingBreak td{
  padding: 0px;
}

/* Headline text styling */
span[id*=section_4]+.einspaltig div h1 {
  padding-bottom: 25px;
}

/* Padding the the headline. text beneath the headline, and the text beneath "Join the team!" to be skinny and in the center */
span[id*=section_4]+.einspaltig div h1,
span[id*=section_5]+.einspaltig div .text_ohne_bild p,
span[id*=section_19]+.einspaltig div .text_ohne_bild p {
  padding-left: 200px;
  padding-right: 200px;
}

/* Changing top margin of the text under the headline*/
span[id*=section_5]+.einspaltig div .text_ohne_bild p {
  margin-top: -20px !important;
}

/* Changing the font styling for the text beneath the headline, and the text beneath "Join the team!" */
span[id*=section_5]+.einspaltig div .text_ohne_bild p,
span[id*=section_19]+.einspaltig div .text_ohne_bild p {
  font-size: 15px;
  font-weight: 100;
  line-height: 20px;
}

/* Changing left positioning of "See open positions" button and making button color orange */
span[id*=section_5]+.einspaltig div .link a {
  left: 500px;
  background-color: #F07D00;
}

/* Changing the hover color of the "See open positions" button */
span[id*=section_5]+.einspaltig div .link a:hover {
  background-color: #d26e00;
}

/* CTA Button Text Styling for "See Open Positions", "Learn about ECS", and "Learn about dry-tech" */
span[id*=section_5]+.einspaltig div .link a,
span[id*=section_18]+.einspaltig+.zweispaltigG div .text_ohne_bild .link a,
span[id*=section_18]+.einspaltig+.zweispaltigG+.zweispaltigG div .text_ohne_bild .link a{
  height: 40px;
  font-size: 15px;
  font-weight: 500;
  padding: 10px 15px;
  background-position: 10px;
  background-size: 30px;
  color: #fff;
  text-decoration: none;
  position: relative;
  top: 30px;
}

/* Main Video Styling */
span[id*=section_6]+.einspaltig div .text_ohne_bild p {
  width: 750px;
  position: relative;
  left: 200px;
  z-index: 99;
}

/* Adding margin beneath video for proper spacing of thumbnails */
span[id*=section_6]+.einspaltig div .text_ohne_bild {
  margin-bottom: -1200px;
}

/* Placement of first video thumbnail */
span[id*=section_7]+.einspaltig+.dreispaltig div .text_ohne_bild p{
    margin-left: 260px !important;
}

/* Placement of second video thumbnail */
span[id*=section_7]+.einspaltig+.dreispaltig+.dreispaltig div .text_ohne_bild p{
  margin-left:100px !important
}

/* Placement of third video thumbnail */
span[id*=section_7]+.einspaltig+.dreispaltig+.dreispaltig+.dreispaltig div .text_ohne_bild p{
  margin-left: -60px !important;
}

/* Horizontal placement of Nicole's quote */
span[id*=section_9]+.einspaltig+.zweispaltigG+.zweispaltigG div .text_ohne_bild p {
  right: 250px;
}

/* Spacing Nicole's quote lower from the timeline */
span[id*=section_9]+.einspaltig+.zweispaltigG,
span[id*=section_9]+.einspaltig+.zweispaltigG+.zweispaltigG{
  margin-top:100px;
}

/* Circle Headshot Styling for Nicole and Steve */
span[id*=section_9]+.einspaltig+.zweispaltigG div img,
span[id*=section_10]+.einspaltig+.zweispaltigG+.zweispaltigG div img {
  max-width: 55%;
  position: relative;
}

/* Quote text box styling for Nicole and Steve */
span[id*=section_9]+.einspaltig+.zweispaltigG+.zweispaltigG div .text_ohne_bild p,
span[id*=section_10]+.einspaltig+.zweispaltigG div .text_ohne_bild p {
  font-size: 20px;
  min-width: 800px;
  position: relative;
  top: 100px;
  background: #f1f1f1;
  border-left: 10px solid #f58220;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  content: open-quote;
}

/* Horizontal spacing for Steve's quote */
span[id*=section_10]+.einspaltig+.zweispaltigG+.zweispaltigG div img {
  right: -260px;
}

/* Company Culture, Trainings, and Company History Labels Styling */
span[id*=section_11]+.einspaltig+.dreispaltigG,
span[id*=section_11]+.einspaltig+.dreispaltigG+.dreispaltigG,
span[id*=section_11]+.einspaltig+.dreispaltigG+.dreispaltigG+.dreispaltigG {
  padding-top: 20px;
  font-size: 20px;
  background-color: #f58220;
}

/* TCompany Culture, Trainings, and Company History Text Styling */
span[id*=section_11]+.einspaltig+.dreispaltigG a,
span[id*=section_11]+.einspaltig+.dreispaltigG+.dreispaltigG a,
span[id*=section_11]+.einspaltig+.dreispaltigG+.dreispaltigG+.dreispaltigG a{
  color: white;
  font-size: 20px
}

/* Sizing and text placement of Company Culture, Trainings, and Company History labels, along with the e-chain and dry-tech labels */
span[id*=section_11]+.einspaltig+.dreispaltigG,
span[id*=section_11]+.einspaltig+.dreispaltigG+.dreispaltigG,
span[id*=section_11]+.einspaltig+.dreispaltigG+.dreispaltigG+.dreispaltigG,
span[id*=section_17]+.einspaltig+.zweispaltigG div div,
span[id*=section_17]+.einspaltig+.zweispaltigG+.zweispaltigG div div {
  height: 65px;
  text-align: center;
  vertical-align: center;
}

/* Spacing below the Company Culture, Trainings, and Company History labels */
span[id*=section_11]+.einspaltig+.dreispaltigG+.dreispaltigG+.dreispaltigG+.ContentBreak+.NonSpaceingBreak td {
  padding: 5px !important;
}

/* Padding under the Company Culture, Trainings, and Company History divs */
span[id*=section_13]+.einspaltig+.zweispaltigG+.zweispaltig+.NonSpaceingBreak td,
span[id*=section_14]+.einspaltig+.zweispaltigG+.zweispaltig+.NonSpaceingBreak td {
  padding: 0px !important;
}

/* Styling of Company Culture, Trainings, and Company History image divs */
span[id*=section_13]+.einspaltig +.zweispaltigG,
span[id*=section_14]+.einspaltig +.zweispaltigG,
span[id*=section_15]+.einspaltig +.zweispaltigG {
  background-color: #f1f1f1;
  margin-right: 0px;
  margin-left: 15px;
  height: 350px;
  margin-top: -35px;
}

/* Styling of Company Culture, Trainings, and Company History text divs */
span[id*=section_13]+.einspaltig +.zweispaltigG +.zweispaltig,
span[id*=section_14]+.einspaltig +.zweispaltigG +.zweispaltig,
span[id*=section_15]+.einspaltig +.zweispaltigG +.zweispaltig{
  background-color: #f1f1f1;
  margin-left: 0px;
  height: 350px;
  margin-top: -35px;
}

/* Sizing of the Company Culture, Trainings, and Company History images */
span[id*=section_13]+.einspaltig+.zweispaltigG div img,
span[id*=section_14]+.einspaltig+.zweispaltigG div img,
span[id*=section_15]+.einspaltig+.zweispaltigG div img{
  height: 350px;
}

/* Text styling and margins of the Company Culture, Trainings, and Company History headers */
span[id*=section_13]+.einspaltig +.zweispaltigG +.zweispaltig div .text_ohne_bild h2,
span[id*=section_14]+.einspaltig +.zweispaltigG +.zweispaltig div .text_ohne_bild h2,
span[id*=section_15]+.einspaltig +.zweispaltigG +.zweispaltig div .text_ohne_bild h2{
  font-weight: bold;
  font-size: 50px;
  color: #f58220;
  margin-top: 40px !important;
}

/* Positioning of the Company Culture, Trainings, and Company History text */
span[id*=section_13]+.einspaltig +.zweispaltigG +.zweispaltig div .text_ohne_bild,
span[id*=section_14]+.einspaltig +.zweispaltigG +.zweispaltig div .text_ohne_bild,
span[id*=section_15]+.einspaltig +.zweispaltigG +.zweispaltig div .text_ohne_bild{
  left: -55px !important;
  top: 25px;
  width: 700px !important;
}

/* Text styling and top margin of the Company Culture, Trainings, and Company History main text */
span[id*=section_13]+.einspaltig +.zweispaltigG +.zweispaltig div .text_ohne_bild p,
span[id*=section_14]+.einspaltig +.zweispaltigG +.zweispaltig div .text_ohne_bild p,
span[id*=section_15]+.einspaltig +.zweispaltigG +.zweispaltig div .text_ohne_bild p{
  color: #343434;
  margin-top: 30px !important;
  max-width: 700px;
}

/* Hides Trainings and Company History to start */
span[id*=section_14]+.einspaltig+.zweispaltigG,
span[id*=section_14]+.einspaltig +.zweispaltigG +.zweispaltig,
span[id*=section_15]+.einspaltig+.zweispaltigG,
span[id*=section_15]+.einspaltig +.zweispaltigG +.zweispaltig{
  display: none !important;
}

/* Padding above the e-chain and dry-tech labels */
span[id*=section_17]+.einspaltig+.zweispaltigG div div h2,
span[id*=section_17]+.einspaltig+.zweispaltigG+.zweispaltigG div div h2 {
  padding-top: 10px;
}

/* Background color for e-chain and dry-tech tabels */
span[id*=section_17]+.einspaltig+.zweispaltigG div div,
span[id*=section_17]+.einspaltig+.zweispaltigG+.zweispaltigG div div {
  background-color: #5e5e5e;
}

/* Text styling for e-chain and dry-tech labels */
span[id*=section_17]+.einspaltig+.zweispaltigG div div h2,
span[id*=section_17]+.einspaltig+.zweispaltigG+.zweispaltigG div div h2 {
  color: white;
  font-size: 20px !important;
  font-weight: 100;
}

/* Spacing in between e-chain and dry-tech labels and the divs below */
span[id*=section_17]+.einspaltig+.zweispaltigG+.zweispaltigG+.ContentBreak+.NonSpaceingBreak td {
  padding: 10px !important;
}

/* Styling, padding, and positioning for e-chain and dry-tech divs */
span[id*=section_18]+.einspaltig+.zweispaltigG,
span[id*=section_18]+.einspaltig+.zweispaltigG+.zweispaltigG {
  background-color: #f1f1f1;
  padding-top: 20px;
  padding-bottom: 90px;
  height: 330px;
}

/* Horizontal positioning and color for e-chain and dry-tech CTA buttons */
span[id*=section_18]+.einspaltig+.zweispaltigG div .text_ohne_bild .link a,
span[id*=section_18]+.einspaltig+.zweispaltigG+.zweispaltigG div .text_ohne_bild .link a {
  left: 200px;
  background-color: #f18f3b;
}

/* Styling for e-chain and dry-tech CTA buttons on hover */
span[id*=section_18]+.einspaltig+.zweispaltigG div .text_ohne_bild .link a:hover,
span[id*=section_18]+.einspaltig+.zweispaltigG+.zweispaltigG div .text_ohne_bild .link a:hover {
  background-color: #f58220
}

/* Padding and styling for "Join the team!" headline */
span[id*=section_19]+.einspaltig div .text_ohne_bild h2{
  padding-left: 200px;
  padding-right: 200px;
  font-size: 30px;
  font-weight: bold;
  line-height: 35px;
  text-align: center;
}

/* Styling for circles in the background*/
.orangecircle, .greycircle {
  min-height: 600px;
  max-width: 600px;
  min-height: 600px;
  max-width: 600px;
  border-radius: 50%;
}

.orangecircle {
  background-color: #f58220;
  margin-left: 900px;
  top: -730px;
  opacity: .3;
}

.greycircle {
  background-color: #e3e3e3;
  margin-left: -300px;
  top: -830px;
}

/* Video thumbnail styling */
#video1,
#video2,
#video3{
  height: 111px;
  width: 200px !important;
  position: absolute;
  top: 0px;
  cursor: pointer;
  z-index: 1;
}

#video1:hover,
#video2:hover,
#video3:hover{
  border: 2px solid #f58220 !important;
}

#video1{
  margin-left: 260px;
  border: 3px solid #f58220;
}

#video2{
  margin-left: 100px;
}


#video3{
  margin-left: -60px;
}

/* Styling for Timeline */
.box {
  max-width: 1000px;
  max-height: 300px;
  margin-left: 50px;
}

.timeline {
  background-color: #f58220;
  width: 1000px;
  height: 5px;
  margin-left: 30px;
  top: 147.5px;
}

.movingCar {
  text-align: center;
  opacity: 0;
  transform: translateX(10px);
  transition: all 3s ease-out;
}

.movingCar.fadeIn {
  opacity: 1;
  transform: translateX(915px);
}

.timeline {
  text-align: center;
  opacity: 0;
  transform: translateX(-920px);
  transition: all 1s ease-out;
}

.timeline.fadeIn {
  opacity: 1;
  transform: translateX(0px);
}

.leftOfTimeline {
  background-color: #e3e3e3;
  max-width: 5px;
  min-width: 5px;
  max-height: 40px;
  min-height: 40px;
  top: 125px;
  margin-left: 25px;
  opacity: 0;
  transition: all 1s ease-out;
  transform: translateX(-50px);
}

.leftOfTimeline.fadeIn {
  opacity: 1;
  transform: translateX(0px);
}

.d1964, .d1985, .d1994, .d2013, .d2015, .bottom {
  background-color: #f58220;
  max-width: 5px;
  min-width: 5px;
  max-height: 40px;
  min-height: 40px;
  opacity: 0;
}

.d1964.fadeIn, .d1985.fadeIn, .d1994.fadeIn, .d2013.fadeIn, .d2015.fadeIn, .bottom.fadeIn {
  opacity: 1;
  transform: translateX(0px);
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg) translateY(0px);
}

.d1964, .d2013 {
  -ms-transform: rotate(-40deg);
  /* IE 9 */
  -webkit-transform: rotate(-40deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-40deg) translateY(-50px);
}

.d1994, .d2015 {
  -ms-transform: rotate(40deg);
  /* IE 9 */
  -webkit-transform: rotate(40deg);
  /* Chrome, Safari, Opera */
  transform: rotate(40deg) translateY(-50px);
}

.d1964 {
  margin-top: 65px;
  margin-left: 30px;
  transition: all 1s ease-out;
}

.d1985 {
  margin-top: 0px;
  margin-left: 300px;
  transition: all 1s ease-out;
  -ms-transform: rotate(40deg);
  /* IE 9 */
  -webkit-transform: rotate(40deg);
  /* Chrome, Safari, Opera */
  transform: rotate(40deg) translateY(50px);
}

.d1994 {
  background-color: #f58220;
  margin-top: -80px;
  margin-left: 360px;
  transition: all 1.5s ease-out;
}

.d2013 {
  margin-top: 0px;
  margin-left: 620px;
  transition: all 1.5s ease-out;
  ;
}

.d2015 {
  margin-top: -80px;
  margin-left: 660px;
  transition: all 2s ease-out;
  ;
}

.bottom {
  margin-top: -20px;
  margin-left: 1030px;
  transition: all 2s ease-out;
  transform: translateX(50px);
}

.car {
  position: absolute;
  max-width: 125px;
  top: 80px;
  z-index: 1;
}

.timelineSheild {
  margin-left: -75px;
  background-color: #e3e3e3;
  min-width: 100px;
  max-width: 100px;
  height: 5px;
  top: 152px;
  z-index: 1;
}

.TLText {
  font-size: 15px;
  min-width: 300px;
  line-height: 1.3em;
}

#d1964-text, #d1994-text {
  top: -25px;
  margin-left: 12px;
  min-width: 280px;
}

#nd1985-text, #d2013-text {
  top: 5px;
  margin-left: 12px;
}

#d2015-text {
  top: -25px;
  margin-left: 12px;
  min-width: 240px;
}

/* Bolding text on timeline */
.boldDate {
  margin: 0px;
  padding-top: -20px !important
}

/* Styling for triangles that show which label is selected */
.triangle1, .triangle2, .triangle3 {
  background-color: #f58220;
  min-width: 100px;
  max-width: 100px;
  min-height: 100px;
  max-height: 100px;
  position: relative;
  float: left;
  top: -60px;
  margin-bottom: -90px;
  -webkit-clip-path: polygon(48% 86%, 0 0, 100% 0);
  clip-path: polygon(48% 86%, 0 0, 100% 0);
  z-index: 1;
}

.triangle1 {
  margin-left: 255px;
  display: block;
}

.triangle2 {
  margin-left: 635px;
  display: none;
}

.triangle3 {
  margin-left: 1015px;
  display: none;
}

/* Padding Top of Form */
.hbspt-form form {
  padding-top: 15px !important;
}

/* Form Button Styling */
.hs-button.primary.large {
  position: relative;
  left: 890px;
  top: 15px;
  width: 200px;
  height: 40px;
  background: #f07d00;
  border: 0px transparent;
  color: #fff;
}

.hs-button.primary.large:hover {
  background-color: #d26e00;
}

/* Moves error message on form to be within div */
.hs-error-msgs{
  margin-left: 20px;
}

/* Sizing of Form Fields */
.form-columns-2 .hs-input {
  height: 30px;
  line-height: 50px;
  width: 540px;
  padding-left: 15px;
  border: 1px solid #ABABAB;
}

/* Spacing of Form Fields (Height) */
.form-columns-2, .form-intro {
  margin-bottom: 30px !important;
}

/* Spacing of Form Fields (Width) */
.form-columns-2 {
  max-width: 100% !important;
}

.form-columns-2 div {
  width: 50% !important;
}

/* Form Subheading Styling */
.form-columns-2 .hs-richtext {
  width: 100% !important;
  margin-bottom: 30px;
}

/* Large Textarea Styling */
.form-columns-1 {
  max-width: 100% !important;
}

.form-columns-1 .hs-input {
  max-width: 1090px;
  min-width: 1090px;
  min-height: 120px;
}

/* Centers message after form is submitted */
.submitted-message{
  text-align: center;
}

/* Needs to be refactored */
span[id*=section_16]+.einspaltig {
  height: 500px;
}

span[id*=section_16]+.einspaltig div {
  position: absolute;
}

.main{
  position: absolute;
  max-width: 1000px;
  height: 600px;
  background-color: white;
  margin-left:7%;
}

.whitebottombar{
  position: absolute;
  top: 80%;
  max-width: 100%;
  height: 10%;
  background-color: white;
}

.whitesidebar{
  position: absolute;
  max-width: 15%;
  margin-left: -10% !important;
  height: 100%;
  background-color: white;
}

.frame{
  position: absolute;
  border: 0px solid white;
  margin-left: 5% !important;
  bottom: 10%;
  max-width: 90%;
  height: 80%;
}

.rightbar,
.leftbar{
  position: absolute;
  max-width: 5%;
  height: 90%;
  background-color: grey;
}

.leftbar{
  margin-left: 5% !important;
}

.rightbar{
  margin-left: 90% !important;
}

.topbar{
  position: absolute;
  max-width: 100%;
  height: 5%;
  background-color: grey;
}

.leftlowerrightbrace,
.leftlowerleftbrace,
.rightlowerleftbrace,
.rightlowerrightbrace{
  position: absolute;
  max-width: 8%;
  height: 3%;
  background-color: #5e5e5e;
  top: 80%;
}

.rightlowerleftbrace,
.leftlowerleftbrace{
  -ms-transform: rotate(-60deg); /* IE 9 */
  -webkit-transform: rotate(-60deg); /* Chrome, Safari, Opera */
  transform: rotate(-60deg);
}

.rightlowerrightbrace,
.leftlowerrightbrace{
  -ms-transform: rotate(60deg); /* IE 9 */
  -webkit-transform: rotate(60deg); /* Chrome, Safari, Opera */
  transform: rotate(60deg);
}

.leftlowerrightbrace{
  margin-left: 7% !important;
}

.rightlowerleftbrace{
  margin-left: 85% !important;
}

.rightlowerrightbrace{
  margin-left: 92% !important;
}

.righttopbrace,
.lefttopbrace{
  position: absolute;
  top: 5%;
  max-width: 9%;
  height: 8%;
  background-color: #5e5e5e;

}

.lefttopbrace{
  margin-left: 5.5% !important;
  -ms-transform: rotate(-50deg); /* IE 9 */
  -webkit-transform: rotate(-50deg); /* Chrome, Safari, Opera */
  transform: rotate(-50deg);
}

.righttopbrace{
  margin-left:86% !important;
  -ms-transform: rotate(50deg); /* IE 9 */
  -webkit-transform: rotate(50deg); /* Chrome, Safari, Opera */
  transform: rotate(50deg);
}

.chain{
  position: absolute;
  max-width: 100%;
  height: 1%;
  top: 2%;
  background-color: #f4ac70;
}

.article1,
.article2,
.article3{
  position: absolute;
  max-width: 20%;
  height: 50%;
  background-color: #E3E3E3;
}

.article1.flyin:hover,
.article2.flyin:hover,
.article3.flyin:hover{
  outline: 2px solid #f58220;
  top: 25%;
  padding: 0px;
  cursor: hand;
}


.article1.flyin{
  margin-left: 15% !important;
  transform: rotate(0deg);
}

.article1{
  top: 20%;
  margin-left: -70% !important;
  -ms-transform: rotate(0deg); /* IE 9 */
  -ms-transform-origin: 50% 50%; /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  -webkit-transform-origin: 50% 50%; /* Chrome, Safari Opera */
  transform: rotate(20deg);
  transform-origin: 50% 50%;
  transition: margin 2s ease-out, transform 2s ease-out, top .5s;
}

.article2.flyin{
  margin-left: 40% !important;
  transform: rotate(0deg);
}

.article2{
  margin-left: -45% !important;
  top: 20%;
  -ms-transform: rotate(0deg); /* IE 9 */
  -ms-transform-origin: 50% 50%; /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  -webkit-transform-origin: 50% 50%; /* Chrome, Safari Opera */
  transform: rotate(20deg);
  transform-origin: 50% 50%;
  transition: margin 2s ease-out, transform 2s ease-out, -webkit-transform 2s ease-out, -ms-transform 2s ease-out, top .5s;
}

.article3.flyin{
  margin-left: 65% !important;
  transform: rotate(0deg);
}

.article3{
  margin-left: -20% !important;
  top: 20%;
  -ms-transform: rotate(0deg); /* IE 9 */
  -ms-transform-origin: 50% 50%; /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  -webkit-transform-origin: 50% 50%; /* Chrome, Safari Opera */
  transform: rotate(20deg);
  transform-origin: 50% 50%;
  transition: margin 2s ease-out, transform 2s ease-out, top .5s;
}

.article3cable.flyin{
  position: absolute;
  margin-left: 75% !important;
}

.article3cable{
  position: absolute;
  top: 2%;
  margin-left: -7% !important;
  max-width: 1%;
  height: 40%;
  background-color: black;
  transition: all 2s ease-out
}

.article2cable.flyin{
  position: absolute;
  margin-left: 50% !important;
}

.article2cable{
  position: absolute;
  top: 2%;
  margin-left: -32% !important;
  max-width: 1%;
  height: 40%;
  background-color: black;
  transition: all 2s ease-out
}

.article1cable.flyin{
  position: absolute;
  margin-left: 25% !important;
}

.article1cable{
  position: absolute;
  top: 2%;
  margin-left: -57% !important;
  max-width: 1%;
  height: 40%;
  background-color: black;
  transition: all 2s ease-out
}

.brace{
  position: absolute;
  max-width: 40%;
  height: 5%;
  background-color: black;
  margin-left: 30% !important;
}

.holder{
  position: absolute;
  max-width: 200%;
  min-width: 200%;
  height: 8%;
  top: -2%;
  margin-left: -50% !important;
  background-color: #232323;
  border-radius: 25%;
}

.articleimage{
  position: absolute;
  background-color: #5e5e5e;
  max-width: 85%;
  margin-left: 7.5% !important;
  height: 40%;
  top: 10%;
}

.articletext{
  position: absolute;
  max-width: 85%;
  margin-left: 7.5% !important;
  height: 40%;
  top: 52%;
  font-weight: 600;
}

.articletext a{
  color: #f58220;
}

.sectionheadline{
  margin-left:39%;
  font-size: 30px;
  font-weight: 600;
  top: 4%;
}
</style>
