<style>
#RightContainer, #BreadcrumbContainer, #SoNeContainer {
  display: none !important
}

/* Expands left content to entire container */
#container #ContentContainer #LeftContent {
  width: 100%;
}

/* Eliminating ContentBreak */
.ContentBreak {
  height: 0px;
}

/* Changing height of line break */
br {
  line-height: 2.4em;
}

span[id*=section_3] + .einspaltig + .ZweidrittelRight,
span[id*=section_3] + .einspaltig + .ZweidrittelRight + .zweidrittel,
span[id*=section_4] + .einspaltig + .zweidrittel,
span[id*=section_5] + .einspaltig + .ZweidrittelRight,
span[id*=section_5] + .einspaltig + .ZweidrittelRight + .zweidrittel {
  background-color: #F5EEE4;
  height: 258px;
}

span[id*=section_4] + .einspaltig + .zweidrittel + .ZweidrittelRight{
  background-color: #fff;
}

span[id*=section_3] + .einspaltig + .ZweidrittelRight,
span[id*=section_4] + .einspaltig + .zweidrittel,
span[id*=section_5] + .einspaltig + .ZweidrittelRight{
  margin-left: 5%;
}

span[id*=section_3] + .einspaltig + .ZweidrittelRight  .dreispaltigG,
span[id*=section_4] + .einspaltig + .zweidrittel + .ZweidrittelRight .dreispaltigG,
span[id*=section_5] + .einspaltig + .ZweidrittelRight  .dreispaltigG{
  margin-left: -8px !important;
}

span[id*=section_3] + .einspaltig + .ZweidrittelRight + .zweidrittel,
span[id*=section_4] + .einspaltig + .zweidrittel,
span[id*=section_5] + .einspaltig + .ZweidrittelRight + .zweidrittel {
  width: 65% !important;
}

span[id*=section_3] + .einspaltig + .ZweidrittelRight + .zweidrittel,
span[id*=section_5] + .einspaltig + .ZweidrittelRight + .zweidrittel{
  margin-left: -8% !important;
}

span[id*=section_4] + .einspaltig + .zweidrittel + .ZweidrittelRight{
  position: absolute !important;
  margin-left: 71% !important
}

span[id*=section_4] + .einspaltig + .zweidrittel{
  margin-right: 8% !important;
  width: calc(66.66%) !important;
}

span[id*=section_3] + .einspaltig + .ZweidrittelRight + .zweidrittel h2,
span[id*=section_4] + .einspaltig + .zweidrittel h2,
span[id*=section_5] + .einspaltig + .ZweidrittelRight + .zweidrittel h2 {
  padding-top: 1.5% !important;
}

span[id*=section_4] + .einspaltig + .zweidrittel div{
  padding-left: 7px !important;
}

</style>
