.ryancontainer{
  width: 700px !important;
  height: 80px !important;
  background-color: #fff !important;
  position: absolute !important;
  overflow: hidden !important;
}

.ryanprogrssbaroverlay,
.ryanprogressbar{
  width: 600px !important;
  height: 8px !important;
  top: 30px !important;
  border-radius: 50px !important;
  position: absolute !important;
  margin-left: 50px !important;
}

.ryanprogrssbaroverlay{
  background-color: white !important;
  -webkit-animation-name: loading !important; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s !important; /* Safari 4.0 - 8.0 */
  animation-name: loading !important;
  animation-duration: 4s !important;
  animation-timing-function: ease-out !important;
  animation-fill-mode: forwards !important;
  z-index: 2 !important;
  top: 31px !important;
}

.ryanprogressbar{
 background: linear-gradient(to right, #f58220, #ffd2ab) !important;
 border: 1px solid #f58220 !important;
}

@-webkit-keyframes loading{
  0% {
    left: 0px !important;
  }
  100% {
    left: 400px !important;
  }
}

.ryancircle1,
.ryancircle2,
.ryancircle3,
.ryancircle4{
  width: 25px !important;
  height: 25px !important;
  border-radius: 50% !important;
  background-color: #f58220 !important;
  position: absolute !important;
  top: -11px !important;
  z-index: 3 !important;
  border: 3px solid #ffd2ab !important;
}

.ryancircle1{
  left: -1% !important;
}

.ryancircle2{
  left: 31% !important;
}

.ryancircle3{
  left: 65% !important;
}

.ryancircle4{
  left: 97% !important;
  background-color: #fff
}
