.ryancontainer{
  width: 700px !important;
  max-width: 700px !important;
  height: 80px !important;
  max-height: 80px !important;
  background-color: #fff !important;
  position: absolute !important;
  overflow: hidden !important;
}

.ryanprogrssbaroverlay,
.ryanprogressbar{
  width: 600px !important;
  max-width: 600px !important;
  height: 8px !important;
  max-height: 8px !important;
  top: 30px !important;
  border-radius: 50px !important;
  position: absolute !important;
  margin-left: 50px !important;
}

.ryanprogrssbaroverlay{
  background-color: white;
  -webkit-animation-name: loading; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: loading;
  animation-duration: 4s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  z-index: 2;
  margin-top:1px;
}

.ryanprogressbar{
 background: linear-gradient(to right, #f58220, #ffd2ab);
 border: 1px solid #f58220;
}

@-webkit-keyframes loading{
  0% {
    left: 0px;
  }
  100% {
    left: 400px;
  }
}

.ryancircle1,
.ryancircle2,
.ryancircle3,
.ryancircle4{
  width: 25px !important;
  max-width: 25px !important;
  height: 25px !important;
  max-height: 25px !important;
  border-radius: 50% !important;
  background-color: #f58220 !important;
  position: absolute !important;
  top: -11px !important;
  z-index: 3 !important;
  border: 3px solid #ffd2ab !important;
}

.ryancircle1{
  margin-left: -1% !important;
}

.ryancircle2{
  margin-left: 31% !important;
}

.ryancircle3{
  margin-left: 65% !important;
}

.ryancircle4{
  margin-left: 97% !important;
  background-color: #fff
}
