.container{
  width: 700px;
  height: 80px;
  background-color: #fff;
  position: absolute;
  overflow: hidden;
}

.progrssbaroverlay,
.progressbar{
  width: 600px;
  height: 8px;
  top: 30px;
  border-radius: 50px;
  position: absolute;
  margin-left: 50px;
}

.progrssbaroverlay{
  background-color: white;
  -webkit-animation-name: loading; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: loading;
  animation-duration: 4s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  z-index: 2;
  top: 31px;
}

.progressbar{
 background: linear-gradient(to right, #f58220, #ffd2ab);
 border: 1px solid #f58220;
}

@-webkit-keyframes loading{
  0% {
    left: 0px;
  }
  100% {
    left: 400px;
  }
}

.circle1,
.circle2,
.circle3,
.circle4{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #f58220;
  position: absolute;
  top: -11px;
  z-index: 3;
  border: 3px solid #ffd2ab;
}

.circle1{
  left: -1%;
}

.circle2{
  left: 31%;
}

.circle3{
  left: 65%;
}

.circle4{
  left: 97%;
  background-color: #fff
}
