.container{
  width: 700px;
  height: 80px;
  background-color: #fff;
  position: absolute;
  overflow: hidden;
}
.progrssbaroverlaytop,
.progrssbaroverlaybottom,
.progressbaroutline,
.progressbarfill{
  position: absolute;
  margin-left: 50px;
}

.progrssbaroverlaytop{
  background-color: green;
  z-index: 2;
  top: 0px;
  height: 30px;
  width: 614px;
}

.progrssbaroverlaybottom{
  background-color: green;
  z-index: 2;
  top: 40px;
  height: 30px;
  width: 614px;
}

.progressbaroutline{
  width: 600px;
  top: 30px;
  height: 8px;
  border-radius: 50px;
  background: #fff
  border: 1px solid #f58220;
}

.progressbarfill{
  background-color: #f58220;
}

.circle1,
.circle2,
.circle3,
.circle4{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  top: -11px;
  z-index: 3;
  border: 3px solid #ffd2ab;
  margin-left: 3px;
}

.circle1{
  left: -1%;
}

.circle2{
  left: 31%;
}

.circle3{
  left: 65%;
}

.circle4{
  left: 97%;
  background-color: #fff
}
