<style>
  #RightContainer,
  #LeftContent .LinkList .link a:before,
  a[name=Section_1] + .einspaltig + .NonSpaceingBreak,
  span[id*=section_2] + .einspaltigG + .NonSpaceingBreak,
  span[id*=section_3] + .einspaltig +.einspaltigG + .ContentBreak,
  span[id*=section_3] + .einspaltig +.einspaltigG + .ContentBreak + .NonSpaceingBreak,
  .hs-richtext	{
  display: none !important;
  }

 .zweidrittel img {
   width: auto !important;
 }

 #LeftContent .LinkList .link a{
   border: 2px solid #fff;
   height: 40px;
   line-height: 40px;
   text-align: center;
   display: inline-block;
   color: #f58220 !important;
   padding: 0 15px;
   background-color: #ffffff
 }

 #LeftContent .list p {
   padding: 0 0 10px 25px !important;
   font-size: 14px;
   line-height: 22px;
   background: none !important;
 }

 #LeftContent .list p::before {
   left: 0px !important;
   font-size: 60px !important;
   color: #f07d00 !important
 }

 #LeftContent .list {
   margin-bottom: 15px;
 }

 #LeftContent .LinkList .link a:hover {
   background: #fff;
   color: #f07d00 !important;
 }

 #LeftContent .LinkList .link a:hover {
   text-decoration: none !important;
 }

 #LeftContent .LinkList {
   display: flex;
   flex-direction: row;
   width: 540px !important;
   left: auto !important;
   right: 30px;
   position: absolute;
   top: -85px;
 }

 .LinkList .link {
   width: auto !important;
   margin-right: 30px;
 }

 #LeftContent {
   width: 100% !important;
 }

 span[id*=section_2]+.einspaltigG .text h2 {
   font-size: 80px;
 }

 span[id*=section_2]+.einspaltigG .text p {
   top: -185px;
   font-size: 16px;
 }

 h1 {
   top: 110px;
   font-size: 20px;
 }

 span[id*=section_2]+.einspaltigG .text p,
 span[id*=section_2]+.einspaltigG .text h2, h1 {
   position: absolute;
   z-index: 999;
   right: 30px;
   color: #fff !important;
   width: 540px;
 }

 span[id*=section_2]+.einspaltigG .text h2 {
   top: 50px;
 }
</style>
